.git
.github
.venv
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
dev-data
data
logs
tests
tests/fixtures/cassettes
docs/
*.md
!README.md
docker-compose*.yaml
.env*
.pre-commit-config.yaml
*.egg-info/
dist/
build/
